:Root {
	--BodyMargin: 8px;
}

Body {
	Text-Align: Center;
	User-Select: None;
	Font-Family: Sans-Serif;
	Margin: Var(--BodyMargin);
}

A {
	Color: Black;
	Text-Decoration: None;
}
Ul {
	Text-Align: Left;
	List-Style: None;
	Column-Count: 1;
	Margin-Top: 8px;
	Margin-Bottom: 8px;
	Padding-Left: 0px;
	Padding-Right: 0px;
}
Li {
	Line-Height: 1.75em;
	Font-Size: Larger;
	Padding-Left: 8px;
	Padding-Right: 8px;
}
Li:Hover {
	Background: LightGray;
}

.SimpleList Li {
	Width: Fit-Content;
}

.TextLineImg {
	Width: 1em;
	Height: 1em;
	Vertical-Align: Text-Top;
	Padding-Right: 8px;
}
.Margin4 {
	Margin: 4px;
}

.Dropdown {
	Position: Relative;
	Display: Inline-Block;
}
.DropdownBtn {
	Cursor: Pointer;
	Background: LightGray;
	Color: Black;
}
.DropdownBody {
	Display: None;
	Position: Absolute;
	Width: Max-Content;
	Background: White;
	Box-Shadow: 0px 8px 8px 0px RGBA(0,0,0,0.2);
	Z-Index: 1;
}
.DropdownBtn:Hover ~ .DropdownBody,
.DropdownBody:Hover {
	Display: Block;
	Position: Absolute;
}
.Dropdown Li {
	Cursor: Pointer;
	Text-Align: Center;
}
.SearchDiv {
	Width: Max-Content;
}
.DropdownBtn, Input[Type="Text"] {
	Font-Size: Larger;
}