/*\
Credits: 1337box by Leah Rowe, Creative Commons Zero 1.0
Info: <https://vimuser.org/1337box.html>
\*/
.f, .f * {
  position: fixed;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%
}
.f * { transform: translate(-50%,-50%) }
.f {
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:rgba(0,0,0,0.8);
}
*:focus + .f { display:block; }
img { cursor:pointer; }
